body{
    background-color: rgb(0, 100, 90);
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.container{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.pausado{
    color: red;
}